@model IEnumerable<Firstproject.Models.Hall>

    @{
        Layout="~/Views/shared/_Home.cshtml";
    }
    <head>
        <style>

           

            .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


       .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;

   width:100%;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
          .styled-table th,
.styled-table td {
    padding: 12px 15px;
}                     
                         .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
        </style>
    </head>

    <div class="section">
      <div class="container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>  Names</th>
                <th> Images </th>
                <th>  Price </th>
                <th>  Type </th>
                <th>Address </th>
                <th>Size</th>
                <th>Is Booked?</th>
            </tr>




        </thead>
        <tbody>
            @foreach (var item in Model)
           {
               <tr>
                   <td> @item.HallName </td>
                   <td> 
                   <img src=@Url.Content("~/Image/"+ @item.Imagepath) asp-append-version="true" height="100" width="200" alt="Alternate Text" /> 
                       </td>
                       <td>@item.HallPrice </td>
                       <td>@item.HallType </td>
                       <td>@item.Address.City</td>
                       <td>@item.HallSize</td>
                      
               </tr>
           }

        </tbody>






    </table>
    </div>
    </div>
@*                   -----------------------------------------------------------*@

      



