@model Firstproject.Models.User

@{
    ViewData["Title"] = "Details";
    Layout="~/views/shared/_Admin.cshtml";
}

@*<h2>Details</h2>
*@
<div>
    <h4>@*User*@</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imagepath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imagepath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-info">Edit</a> |
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
